* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 10px;
}

body {
  background: rgba(123, 200, 255, 0.85);
  color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
}

.container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.layout {
  background: #7bc8ff;
  -webkit-box-shadow: 2px 2px 15px rgba(50, 170, 255, 0.65);
          box-shadow: 2px 2px 15px rgba(50, 170, 255, 0.65);
  width: 350px;
  height: 540px;
  position: relative;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calculator {
  height: 500px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (70px)[4];
  grid-template-columns: repeat(4, 70px);
  -ms-grid-rows: minmax(100px, auto) (70px)[5];
  grid-template-rows: minmax(100px, auto) repeat(5, 70px);
}

.calculator > button {
  margin: 6px;
  font-size: 2rem;
  outline: none;
}

.span-two {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  height: 90%;
  width: 95%;
  border-radius: 5em;
}

button {
  background: -o-linear-gradient(135deg, #30a9ff, #7bc8ff);
  background: linear-gradient(315deg, #30a9ff, #7bc8ff);
  -webkit-box-shadow: 2px 2px 6px rgba(50, 170, 255, 0.75);
          box-shadow: 2px 2px 6px rgba(50, 170, 255, 0.75);
  border-radius: 50%;
  border: none;
}

button:hover:not(:active) {
  opacity: 0.7;
}

button:active {
  background: -o-linear-gradient(135deg, #7bc8ff, #30a9ff);
  background: linear-gradient(315deg, #7bc8ff, #30a9ff);
  -webkit-box-shadow: -2px -2px 6px rgba(50, 170, 255, 0.75);
          box-shadow: -2px -2px 6px rgba(50, 170, 255, 0.75);
}

.output {
  -webkit-box-shadow: inset 0px 0px 10px rgba(50, 170, 255, 0.75);
          box-shadow: inset 0px 0px 10px rgba(50, 170, 255, 0.75);
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 20px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 30px;
  margin: 35px 0 30px 0;
}

.output .previous {
  color: rgba(255, 255, 255, 0.75);
}

.output .previous {
  font-size: 20px;
  margin-top: 10px;
}

.output .current {
  font-size: 25px;
  margin: 5px 0;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}