@import "null.scss";

$text: white;
$primary: #7bc8ff;
$secondary: #30a9ff;
$shadow: #32aaff;

@mixin layout {
  background: $primary;
  box-shadow: 2px 2px 15px rgba($shadow, 0.65);
}

@mixin output {
  box-shadow: inset 0px 0px 10px rgba($shadow, 0.75);

  .previous {
    color: rgba($text, 0.75);
  }
}

@mixin button {
  background: linear-gradient(315deg, $secondary, $primary);
  box-shadow: 2px 2px 6px rgba($shadow, 0.75);

  &:hover:not(:active) {
    opacity: 0.7;
  }

  &:active {
    background: linear-gradient(315deg, $primary, $secondary);
    box-shadow: -2px -2px 6px rgba($shadow, 0.75);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 10px;
}

body {
  background: rgba($primary, 0.85);
  color: $text;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.layout {
  @include layout;
  width: 350px;
  height: 540px;
  position: relative;
  border-radius: 20px;
  justify-content: center;
}

.calculator {
  height: 500px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: minmax(100px, auto) repeat(5, 70px);
}

.calculator > button {
  margin: 6px;
  font-size: 2rem;
  outline: none;
}

.span-two {
  grid-column: span 2;
  height: 90%;
  width: 95%;
  border-radius: 5em;
}

button {
  @include button;
  border-radius: 50%;
  border: none;
}

.output {
  @include output;
  grid-column: 1/ -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 0px 20px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 30px;
  margin: 35px 0 30px 0;
}
.output .previous {
  font-size: 20px;
  margin-top: 10px;
}

.output .current {
  font-size: 25px;
  margin: 5px 0;
}
